<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/adminDashboard.css" />
  </head>
  <body>
    <div class="admin-dashboard-container">
      <!-- Sidebar  -->
      <aside class="sidebar">
        <ul>
          <li><a href="/admin/dashboard">Dashboard</a></li>
          <li><a href="/admin/users">Manage Users</a></li>
          <li><a href="/admin/stocks">Manage Stocks</a></li>
          <li><a href="/leaderboard">Leaderboard</a></li>
        </ul>
      </aside>

      <!-- Main content area -->
      <div class="main-content">
        <h2>Manage Users</h2>

        <div class="table-container">
          <!-- Users Table -->
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Cash Balance</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(function(user) { %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>$<%= user.cash.toFixed(2) %></td>
                <td>
                  <form
                    action="/admin/toggle-user-status/<%= user._id %>"
                    method="POST"
                  >
                    <% if (user?.status) { %>
                    <button type="submit" class="block-button">Block</button>
                    <% } else { %>
                    <button type="submit" class="unblock-button">
                      Unblock
                    </button>
                    <% } %>
                  </form>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
